*{
	margin: 0px;
	padding: 0px;
}

body{
	background:#efefef;
}

header{
	margin-left: 300px;
	margin-bottom: 50px;
	width:300px;
	padding:10px;
	font-size: 30px;
	font-weight: cursive;
	background:black;
	color:orangered;
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
}

table{
	width: 450px;
	font-size: 50px;
	text-align: center;
	height: 450px;
	border-spacing: 3px;
}

td{	
	width: 150px;
	border:1px solid white;
}

td:hover{
	background:red;
}

#game{
	margin-left:250px;
	border:3px solid black;
	width: 450px;
	height: 450px;
	background: crimson;
}

.gameMessage{
	font-size: 24px;
	background:black;
	color:orangered;
}